In [43]:
# Mounting Google Drive
import os 
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [44]:
# Importing pandas and numpy
import pandas as pd
import numpy as np

In [45]:
# Reading data
df1 = pd.read_csv('/content/gdrive/MyDrive/EGR_Research_Project_1/EGR_CourseGrades.csv', encoding='latin-1')
print(df1.head(5))

  Academic_Year  Term Term_Descrshort Course_Campus   Course_Campus_Descr  \
0       2021-22  2591       FALL 2021            DB  Daytona Beach Campus
1       2021-22  2591       FALL 2021            DB  Daytona Beach Campus
2       2021-22  2591       FALL 2021            DB  Daytona Beach Campus
3       2021-22  2591       FALL 2021            DB  Daytona Beach Campus
4       2021-22  2591       FALL 2021            DB  Daytona Beach Campus

   Student_ID             LFM_Name           Email_Addr   Birthdate  Age  ...  \
0     1182139       Kim Jonathan Y    kim6fe@my.erau.edu  1/10/1983   40  ...
1     1220918   Childers Jessica D   wahlinj@my.erau.edu  2/17/1987   36  ...
2     1676530     Lamont Lyndsay D    tutenl@my.erau.edu  8/15/1986   36  ...
3     2103593      Loucks Thomas M  louckst2@my.erau.edu  1/12/1994   29  ...
4     2106966  Schroder Jonathan A     schrodj1@erau.edu  2/18/1994   29  ...

  Academic_Program     Academic_Program_Descr Acad_Career_Descr Academic_Plan  \
0             COEU  Engineering Undergraduate     Undergraduate         DBSAE
1             COEU  Engineering Undergraduate     Undergraduate        DSEENG
2             COEU  Engineering Undergraduate     Undergraduate         DBSAE
3             COEU  Engineering Undergraduate     Undergraduate         DBSAE
4             COEU  Engineering Undergraduate     Undergraduate         DBSAE

              Academic_Plan_Descr  Instructor_Name Instructor_ERAU_Email  \
0     DB BS Aerospace Engineering          Su, Dan         sud1@erau.edu
1  DB Still Exploring Engineering    Gurjar, Ashok      gurjara@erau.edu
2     DB BS Aerospace Engineering    Gurjar, Ashok      gurjara@erau.edu
3     DB BS Aerospace Engineering   Ellithy, Ghada     ellithyg@erau.edu
4     DB BS Aerospace Engineering        Tang, Yan       tangy1@erau.edu

  Meeting_Days Meeting_Time_Start  Meeting_Time_End
0         T TH           11:15 AM          12:30 PM
1        M W F           10:10 AM          11:00 AM
2        M W F           10:10 AM          11:00 AM
3         T TH           08:15 AM          09:30 AM
4        M W F           10:10 AM          11:00 AM

[5 rows x 42 columns]

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4175 entries, 0 to 4174
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Academic_Year           4175 non-null   object
 1   Term                    4175 non-null   int64
 2   Term_Descrshort         4175 non-null   object
 3   Course_Campus           4175 non-null   object
 4   Course_Campus_Descr     4175 non-null   object
 5   Student_ID              4175 non-null   int64
 6   LFM_Name                4175 non-null   object
 7   Email_Addr              4175 non-null   object
 8   Birthdate               4175 non-null   object
 9   Age                     4175 non-null   int64
 10  Gender                  4175 non-null   object
 11  Ethnicity               4175 non-null   object
 12  Military_Status         4175 non-null   object
 13  International_Flag      4175 non-null   object
 14  First_Term_Enrolled     4174 non-null   float64
 15  Last_Term_Enrolled      4174 non-null   float64
 16  Acad_Level              4174 non-null   object
 17  Acad_Group              4174 non-null   object
 18  Subject                 4175 non-null   object
 19  Catalog_Nbr             4175 non-null   int64
 20  Class_Descr             4175 non-null   object
 21  Class_Section           4175 non-null   object
 22  Session                 4175 non-null   object
 23  Cum_Gpa                 4175 non-null   float64
 24  Term_Gpa                4175 non-null   float64
 25  Term_Hrs                4134 non-null   float64
 26  Tot_Taken_GPA_Census    4174 non-null   float64
 27  Tot_Cumulative_Credits  4174 non-null   float64
 28  Early_Alert_Grade       4175 non-null   object
 29  Mid_Term_Grade          4175 non-null   object
 30  Final_Grade             4175 non-null   object
 31  Transcript_Grade        4175 non-null   object
 32  Academic_Program        4175 non-null   object
 33  Academic_Program_Descr  4175 non-null   object
 34  Acad_Career_Descr       4175 non-null   object
 35  Academic_Plan           4175 non-null   object
 36  Academic_Plan_Descr     4175 non-null   object
 37  Instructor_Name         4175 non-null   object
 38  Instructor_ERAU_Email   4175 non-null   object
 39  Meeting_Days            4175 non-null   object
 40  Meeting_Time_Start      4175 non-null   object
 41  Meeting_Time_End        4175 non-null   object
dtypes: float64(7), int64(4), object(31)
memory usage: 1.3+ MB

In [47]:
df1.shape

(4175, 42)

In [48]:
## Dropping unnecessary columns...

In [49]:
df1.columns

Index(['Academic_Year', 'Term', 'Term_Descrshort', 'Course_Campus',
       'Course_Campus_Descr', 'Student_ID', 'LFM_Name', 'Email_Addr ',
       'Birthdate', 'Age', 'Gender ', 'Ethnicity ', 'Military_Status',
       'International_Flag', 'First_Term_Enrolled', 'Last_Term_Enrolled',
       'Acad_Level', 'Acad_Group', 'Subject', 'Catalog_Nbr', 'Class_Descr',
       'Class_Section', 'Session', 'Cum_Gpa', 'Term_Gpa', 'Term_Hrs',
       'Tot_Taken_GPA_Census', 'Tot_Cumulative_Credits', 'Early_Alert_Grade',
       'Mid_Term_Grade', 'Final_Grade', 'Transcript_Grade', 'Academic_Program',
       'Academic_Program_Descr', 'Acad_Career_Descr', 'Academic_Plan',
       'Academic_Plan_Descr', 'Instructor_Name', 'Instructor_ERAU_Email',
       'Meeting_Days', 'Meeting_Time_Start', 'Meeting_Time_End'],
      dtype='object')

In [50]:
df1.rename(columns = {'Email_Addr ':'Email','Gender ':'Gender','Ethnicity ':'Ethnicity'}, inplace = True)

In [51]:
df1 = df1.drop(columns = ['Academic_Year','Term','Course_Campus','Course_Campus_Descr','LFM_Name','Email',
                          'Birthdate','First_Term_Enrolled','Last_Term_Enrolled','Cum_Gpa','Term_Gpa','Term_Hrs',
                          'Tot_Taken_GPA_Census','Tot_Cumulative_Credits','Early_Alert_Grade','Mid_Term_Grade',
                          'Final_Grade','Acad_Level','Acad_Group','Class_Section','Session','Academic_Program','Academic_Program_Descr',
                          'Acad_Career_Descr','Academic_Plan','Academic_Plan_Descr','Instructor_Name','Instructor_ERAU_Email',
                          'Meeting_Days','Meeting_Time_Start','Meeting_Time_End'])
df1

,Term_Descrshort,Student_ID,Age,Gender,Ethnicity,Military_Status,International_Flag,Subject,Catalog_Nbr,Class_Descr,Transcript_Grade
0,FALL 2021,1182139,40,Male,Asian,Civilian,N,ES,202,Solid Mechanics,A
1,FALL 2021,1220918,36,Female,White,Civilian,N,ES,201,Statics,D
2,FALL 2021,1676530,36,Female,White,Civilian,N,ES,201,Statics,C
3,FALL 2021,2103593,29,Male,White,Civilian,N,ES,201,Statics,F
4,FALL 2021,2106966,29,Male,Hispanic/Latino,Civilian,N,ES,204,Dynamics,B
...,...,...,...,...,...,...,...,...,...,...,...
4170,FALL 2022,2612149,19,Female,Nonresident Alien (International),Civilian,I,EGR,100,Spatial Visualization,B
4171,FALL 2022,2612309,19,Female,White,Civilian,N,EGR,120,Graphical Communications,A
4172,FALL 2022,2612639,20,Male,White,Civilian,N,ES,204,Dynamics,A
4173,FALL 2022,2614742,21,Female,Nonresident Alien (International),Civilian,I,EGR,100,Spatial Visualization,A
4174,FALL 2022,2616097,18,Male,White,Civilian,N,EGR,120,Graphical Communications,B

In [52]:
df1.loc[df1["Transcript_Grade"] == "AU", "Transcript_Grade"] = 'U'
df1

,Term_Descrshort,Student_ID,Age,Gender,Ethnicity,Military_Status,International_Flag,Subject,Catalog_Nbr,Class_Descr,Transcript_Grade
0,FALL 2021,1182139,40,Male,Asian,Civilian,N,ES,202,Solid Mechanics,A
1,FALL 2021,1220918,36,Female,White,Civilian,N,ES,201,Statics,D
2,FALL 2021,1676530,36,Female,White,Civilian,N,ES,201,Statics,C
3,FALL 2021,2103593,29,Male,White,Civilian,N,ES,201,Statics,F
4,FALL 2021,2106966,29,Male,Hispanic/Latino,Civilian,N,ES,204,Dynamics,B
...,...,...,...,...,...,...,...,...,...,...,...
4170,FALL 2022,2612149,19,Female,Nonresident Alien (International),Civilian,I,EGR,100,Spatial Visualization,B
4171,FALL 2022,2612309,19,Female,White,Civilian,N,EGR,120,Graphical Communications,A
4172,FALL 2022,2612639,20,Male,White,Civilian,N,ES,204,Dynamics,A
4173,FALL 2022,2614742,21,Female,Nonresident Alien (International),Civilian,I,EGR,100,Spatial Visualization,A
4174,FALL 2022,2616097,18,Male,White,Civilian,N,EGR,120,Graphical Communications,B

In [53]:
Diversity = df1.drop_duplicates(subset = "Student_ID")
div_data = pd.DataFrame(zip(Diversity.Age, Diversity.Gender, Diversity.Ethnicity, Diversity.Military_Status, Diversity.International_Flag))
div_data.rename(columns={0: "Age",1: "Gender", 2: "Ethnicity", 3: "Military Status", 4: "International"},inplace=True)
div_data

,Age,Gender,Ethnicity,Military Status,International
0,40,Male,Asian,Civilian,N
1,36,Female,White,Civilian,N
2,36,Female,White,Civilian,N
3,29,Male,White,Civilian,N
4,29,Male,Hispanic/Latino,Civilian,N
...,...,...,...,...,...
2312,19,Female,Nonresident Alien (International),Civilian,I
2313,19,Female,White,Civilian,N
2314,20,Male,White,Civilian,N
2315,21,Female,Nonresident Alien (International),Civilian,I
2316,18,Male,White,Civilian,N

In [54]:
## DO NOT DROP FOR FINAL ITERATION
## dropped for simplicity
df1 = df1.drop(columns=['Age','Gender', 'Ethnicity','Military_Status','International_Flag','Subject','Class_Descr'])
#df1 = df1.drop(columns=['Subject','Class_Descr'])
df1

     Term_Descrshort  Student_ID  Catalog_Nbr Transcript_Grade
0          FALL 2021     1182139          202                A
1          FALL 2021     1220918          201                D
2          FALL 2021     1676530          201                C
3          FALL 2021     2103593          201                F
4          FALL 2021     2106966          204                B
...              ...         ...          ...              ...
4170       FALL 2022     2612149          100                B
4171       FALL 2022     2612309          120                A
4172       FALL 2022     2612639          204                A
4173       FALL 2022     2614742          100                A
4174       FALL 2022     2616097          120                B

[4175 rows x 4 columns]

In [55]:
## SEPARATING ATTRIBUTES BASED ON ID
df2 = df1.set_index('Student_ID').groupby(level=0).apply(lambda df: df.reset_index(drop=True)).unstack()
df2.columns = df2.columns.set_levels((df2.columns.levels[1]).astype(str), level=1)
df2.columns = df2.columns.to_series().str.join('_')
df2

,Term_Descrshort_0,Term_Descrshort_1,Term_Descrshort_2,Term_Descrshort_3,Term_Descrshort_4,Term_Descrshort_5,Catalog_Nbr_0,Catalog_Nbr_1,Catalog_Nbr_2,Catalog_Nbr_3,Catalog_Nbr_4,Catalog_Nbr_5,Transcript_Grade_0,Transcript_Grade_1,Transcript_Grade_2,Transcript_Grade_3,Transcript_Grade_4,Transcript_Grade_5
Student_ID,,,,,,,,,,,,,,,,,,
1182139,FALL 2021,NaN,NaN,NaN,NaN,NaN,202.0,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
1220918,FALL 2021,SPR 2022,NaN,NaN,NaN,NaN,201.0,202.0,NaN,NaN,NaN,NaN,D,F,NaN,NaN,NaN,NaN
1240519,SPR 2022,FALL 2022,FALL 2022,NaN,NaN,NaN,201.0,202.0,204.0,NaN,NaN,NaN,A,A,A,NaN,NaN,NaN
1676530,FALL 2021,NaN,NaN,NaN,NaN,NaN,201.0,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN
2103593,FALL 2021,SPR 2022,FALL 2022,NaN,NaN,NaN,201.0,201.0,201.0,NaN,NaN,NaN,F,D,C,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2612639,FALL 2022,NaN,NaN,NaN,NaN,NaN,204.0,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
2613310,SUM 2022,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
2613312,SUM 2022,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN
2614742,FALL 2022,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
2616097,FALL 2022,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN

In [56]:
df3 = df2.reset_index()
df3

,Student_ID,Term_Descrshort_0,Term_Descrshort_1,Term_Descrshort_2,Term_Descrshort_3,Term_Descrshort_4,Term_Descrshort_5,Catalog_Nbr_0,Catalog_Nbr_1,Catalog_Nbr_2,Catalog_Nbr_3,Catalog_Nbr_4,Catalog_Nbr_5,Transcript_Grade_0,Transcript_Grade_1,Transcript_Grade_2,Transcript_Grade_3,Transcript_Grade_4,Transcript_Grade_5
0,1182139,FALL 2021,NaN,NaN,NaN,NaN,NaN,202.0,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
1,1220918,FALL 2021,SPR 2022,NaN,NaN,NaN,NaN,201.0,202.0,NaN,NaN,NaN,NaN,D,F,NaN,NaN,NaN,NaN
2,1240519,SPR 2022,FALL 2022,FALL 2022,NaN,NaN,NaN,201.0,202.0,204.0,NaN,NaN,NaN,A,A,A,NaN,NaN,NaN
3,1676530,FALL 2021,NaN,NaN,NaN,NaN,NaN,201.0,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN
4,2103593,FALL 2021,SPR 2022,FALL 2022,NaN,NaN,NaN,201.0,201.0,201.0,NaN,NaN,NaN,F,D,C,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2612639,FALL 2022,NaN,NaN,NaN,NaN,NaN,204.0,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
2313,2613310,SUM 2022,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
2314,2613312,SUM 2022,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN
2315,2614742,FALL 2022,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
2316,2616097,FALL 2022,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN

In [57]:
## CREATING NEW DATA FRAME
EFD_data = pd.DataFrame(zip(df3.Student_ID))
EFD_data.rename(columns={0: "Student ID"},inplace=True)
EFD_data

      Student ID
0        1182139
1        1220918
2        1240519
3        1676530
4        2103593
...          ...
2312     2612639
2313     2613310
2314     2613312
2315     2614742
2316     2616097

[2317 rows x 1 columns]

In [58]:
## Adding Cols to Empty DF
EFD_data["EGR 100"] = np.nan
EFD_data["EGR 105"] = np.nan
EFD_data["EGR 120"] = np.nan
EFD_data["ES 201"] = np.nan
EFD_data["ES 202"] = np.nan
EFD_data["ES 204"] = np.nan
EFD_data

      Student ID  EGR 100  EGR 105  EGR 120  ES 201  ES 202  ES 204
0        1182139      NaN      NaN      NaN     NaN     NaN     NaN
1        1220918      NaN      NaN      NaN     NaN     NaN     NaN
2        1240519      NaN      NaN      NaN     NaN     NaN     NaN
3        1676530      NaN      NaN      NaN     NaN     NaN     NaN
4        2103593      NaN      NaN      NaN     NaN     NaN     NaN
...          ...      ...      ...      ...     ...     ...     ...
2312     2612639      NaN      NaN      NaN     NaN     NaN     NaN
2313     2613310      NaN      NaN      NaN     NaN     NaN     NaN
2314     2613312      NaN      NaN      NaN     NaN     NaN     NaN
2315     2614742      NaN      NaN      NaN     NaN     NaN     NaN
2316     2616097      NaN      NaN      NaN     NaN     NaN     NaN

[2317 rows x 7 columns]

In [59]:
raw = df3.to_numpy()
raw

array([[1182139, 'FALL 2021', nan, ..., nan, nan, nan],
       [1220918, 'FALL 2021', 'SPR 2022', ..., nan, nan, nan],
       [1240519, 'SPR 2022', 'FALL 2022', ..., nan, nan, nan],
       ...,
       [2613312, 'SUM 2022', nan, ..., nan, nan, nan],
       [2614742, 'FALL 2022', nan, ..., nan, nan, nan],
       [2616097, 'FALL 2022', nan, ..., nan, nan, nan]], dtype=object)

In [60]:
## EGR 100 STUDENT DATA
n = len(raw)
EGR_100_0 = []
EGR_100_1 = []
EGR_100_2 = []
EGR_100_3 = []
EGR_100_4 = []
EGR_100_5 = []

k = ''

for i in range(n):

  if raw[i,7] == 100:
    EGR_100_0.append(raw[i,13])
  else:
    EGR_100_0.append(k)

  if raw[i,8] == 100:
    EGR_100_1.append(raw[i,14])
  else:
    EGR_100_1.append(k)

  if raw[i,9] == 100:
    EGR_100_2.append(raw[i,15])
  else:
    EGR_100_2.append(k)

  if raw[i,10] == 100:
    EGR_100_3.append(raw[i,16])
  else:
    EGR_100_3.append(k)

  if raw[i,11] == 100:
    EGR_100_4.append(raw[i,17])
  else:
    EGR_100_4.append(k)

  if raw[i,12] == 100:
    EGR_100_5.append(raw[i,18])
  else:
    EGR_100_5.append(k)

In [61]:
## EGR 105 STUDENT DATA
n = len(raw)
EGR_105_0 = []
EGR_105_1 = []
EGR_105_2 = []
EGR_105_3 = []
EGR_105_4 = []
EGR_105_5 = []

k = ''

for i in range(n):

  if raw[i,7] == 105:
    EGR_105_0.append(raw[i,13])
  else:
    EGR_105_0.append(k)

  if raw[i,8] == 105:
    EGR_105_1.append(raw[i,14])
  else:
    EGR_105_1.append(k)

  if raw[i,9] == 105:
    EGR_105_2.append(raw[i,15])
  else:
    EGR_105_2.append(k)

  if raw[i,10] == 105:
    EGR_105_3.append(raw[i,16])
  else:
    EGR_105_3.append(k)

  if raw[i,11] == 105:
    EGR_105_4.append(raw[i,17])
  else:
    EGR_105_4.append(k)

  if raw[i,12] == 105:
    EGR_105_5.append(raw[i,18])
  else:
    EGR_105_5.append(k)

In [62]:
## EGR 120 STUDENT DATA
n = len(raw)
EGR_120_0 = []
EGR_120_1 = []
EGR_120_2 = []
EGR_120_3 = []
EGR_120_4 = []
EGR_120_5 = []

k = ''

for i in range(n):

  if raw[i,7] == 120:
    EGR_120_0.append(raw[i,13])
  else:
    EGR_120_0.append(k)

  if raw[i,8] == 120:
    EGR_120_1.append(raw[i,14])
  else:
    EGR_120_1.append(k)

  if raw[i,9] == 120:
    EGR_120_2.append(raw[i,15])
  else:
    EGR_120_2.append(k)

  if raw[i,10] == 120:
    EGR_120_3.append(raw[i,16])
  else:
    EGR_120_3.append(k)

  if raw[i,11] == 120:
    EGR_120_4.append(raw[i,17])
  else:
    EGR_120_4.append(k)

  if raw[i,12] == 120:
    EGR_120_5.append(raw[i,18])
  else:
    EGR_120_5.append(k)

In [63]:
## ES 201 STUDENT DATA
n = len(raw)
ES_201_0 = []
ES_201_1 = []
ES_201_2 = []
ES_201_3 = []
ES_201_4 = []
ES_201_5 = []

k = ''

for i in range(n):

  if raw[i,7] == 201:
    ES_201_0.append(raw[i,13])
  else:
    ES_201_0.append(k)

  if raw[i,8] == 201:
    ES_201_1.append(raw[i,14])
  else:
    ES_201_1.append(k)

  if raw[i,9] == 201:
    ES_201_2.append(raw[i,15])
  else:
    ES_201_2.append(k)

  if raw[i,10] == 201:
    ES_201_3.append(raw[i,16])
  else:
    ES_201_3.append(k)

  if raw[i,11] == 201:
    ES_201_4.append(raw[i,17])
  else:
    ES_201_4.append(k)

  if raw[i,12] == 201:
    ES_201_5.append(raw[i,18])
  else:
    ES_201_5.append(k)

In [64]:
## ES 202 STUDENT DATA
n = len(raw)
ES_202_0 = []
ES_202_1 = []
ES_202_2 = []
ES_202_3 = []
ES_202_4 = []
ES_202_5 = []

k = ''

for i in range(n):

  if raw[i,7] == 202:
    ES_202_0.append(raw[i,13])
  else:
    ES_202_0.append(k)

  if raw[i,8] == 202:
    ES_202_1.append(raw[i,14])
  else:
    ES_202_1.append(k)

  if raw[i,9] == 202:
    ES_202_2.append(raw[i,15])
  else:
    ES_202_2.append(k)

  if raw[i,10] == 202:
    ES_202_3.append(raw[i,16])
  else:
    ES_202_3.append(k)

  if raw[i,11] == 202:
    ES_202_4.append(raw[i,17])
  else:
    ES_202_4.append(k)

  if raw[i,12] == 202:
    ES_202_5.append(raw[i,18])
  else:
    ES_202_5.append(k)

In [65]:
## ES 204 STUDENT DATA
n = len(raw)
ES_204_0 = []
ES_204_1 = []
ES_204_2 = []
ES_204_3 = []
ES_204_4 = []
ES_204_5 = []

k = ''

for i in range(n):

  if raw[i,7] == 204:
    ES_204_0.append(raw[i,13])
  else:
    ES_204_0.append(k)

  if raw[i,8] == 204:
    ES_204_1.append(raw[i,14])
  else:
    ES_204_1.append(k)

  if raw[i,9] == 204:
    ES_204_2.append(raw[i,15])
  else:
    ES_204_2.append(k)

  if raw[i,10] == 204:
    ES_204_3.append(raw[i,16])
  else:
    ES_204_3.append(k)

  if raw[i,11] == 204:
    ES_204_4.append(raw[i,17])
  else:
    ES_204_4.append(k)

  if raw[i,12] == 204:
    ES_204_5.append(raw[i,18])
  else:
    ES_204_5.append(k)

In [66]:
EGR_100 = [EGR_100_0[i] + EGR_100_1[i] + EGR_100_2[i] + EGR_100_3[i] + EGR_100_4[i] + EGR_100_5[i] for i in range(len(EGR_100_0))]
EGR_105 = [EGR_105_0[i] + EGR_105_1[i] + EGR_105_2[i] + EGR_105_3[i] + EGR_105_4[i] + EGR_105_5[i] for i in range(len(EGR_105_0))]
EGR_120 = [EGR_120_0[i] + EGR_120_1[i] + EGR_120_2[i] + EGR_120_3[i] + EGR_120_4[i] + EGR_120_5[i] for i in range(len(EGR_120_0))]
ES_201 = [ES_201_0[i] + ES_201_1[i] + ES_201_2[i] + ES_201_3[i] + ES_201_4[i] + ES_201_5[i] for i in range(len(ES_201_0))]
ES_202 = [ES_202_0[i] + ES_202_1[i] + ES_202_2[i] + ES_202_3[i] + ES_202_4[i] + ES_202_5[i] for i in range(len(ES_202_0))]
ES_204 = [ES_204_0[i] + ES_204_1[i] + ES_204_2[i] + ES_204_3[i] + ES_204_4[i] + ES_204_5[i] for i in range(len(ES_204_0))]

In [67]:
REPEAT_100 = []
REPEAT_105 = []
REPEAT_120 = []
REPEAT_201 = []
REPEAT_202 = []
REPEAT_204 = []

n = len(EGR_100)

for i in range(n):
  if EGR_100[i] == 'A':
    REPEAT_100.append('NO')
  elif EGR_100[i] == 'B':
    REPEAT_100.append('NO')
  elif EGR_100[i] == 'C':
    REPEAT_100.append('NO')
  elif EGR_100[i] == 'D':
    REPEAT_100.append('NO')
  elif EGR_100[i] == '':
    REPEAT_100.append('')
  else:
    REPEAT_100.append('YES')

for i in range(n):
  if EGR_105[i] == 'A':
    REPEAT_105.append('NO')
  elif EGR_105[i] == 'B':
    REPEAT_105.append('NO')
  elif EGR_105[i] == 'C':
    REPEAT_105.append('NO')
  elif EGR_105[i] == 'D':
    REPEAT_105.append('NO')
  elif EGR_105[i] == '':
    REPEAT_105.append('')
  else:
    REPEAT_105.append('YES')

for i in range(n):
  if EGR_120[i] == 'A':
    REPEAT_120.append('NO')
  elif EGR_120[i] == 'B':
    REPEAT_120.append('NO')
  elif EGR_120[i] == 'C':
    REPEAT_120.append('NO')
  elif EGR_120[i] == 'D':
    REPEAT_120.append('NO')
  elif EGR_120[i] == '':
    REPEAT_120.append('')
  else:
    REPEAT_120.append('YES')

for i in range(n):
  if ES_201[i] == 'A':
    REPEAT_201.append('NO')
  elif ES_201[i] == 'B':
    REPEAT_201.append('NO')
  elif ES_201[i] == 'C':
    REPEAT_201.append('NO')
  elif ES_201[i] == 'D':
    REPEAT_201.append('NO')
  elif ES_201[i] == '':
    REPEAT_201.append('')
  else:
    REPEAT_201.append('YES')


for i in range(n):
  if ES_202[i] == 'A':
    REPEAT_202.append('NO')
  elif ES_202[i] == 'B':
    REPEAT_202.append('NO')
  elif ES_202[i] == 'C':
    REPEAT_202.append('NO')
  elif ES_202[i] == 'D':
    REPEAT_202.append('NO')
  elif ES_202[i] == '':
    REPEAT_202.append('')
  else:
    REPEAT_202.append('YES')

for i in range(n):
  if ES_204[i] == 'A':
    REPEAT_204.append('NO')
  elif ES_204[i] == 'B':
    REPEAT_204.append('NO')
  elif ES_204[i] == 'C':
    REPEAT_204.append('NO')
  elif ES_204[i] == 'D':
    REPEAT_204.append('NO')
  elif ES_204[i] == '':
    REPEAT_204.append('')
  else:
    REPEAT_204.append('YES')

In [68]:
EFD_data['EGR 100'] = EGR_100
EFD_data['EGR 105'] = EGR_105
EFD_data['EGR 120'] = EGR_120
EFD_data['ES 201'] = ES_201
EFD_data['ES 202'] = ES_202
EFD_data['ES 204'] = ES_204
EFD_data

      Student ID EGR 100 EGR 105 EGR 120 ES 201 ES 202 ES 204
0        1182139                                     A
1        1220918                              D      F
2        1240519                              A      A      A
3        1676530                              C
4        2103593                            FDC
...          ...     ...     ...     ...    ...    ...    ...
2312     2612639                                            A
2313     2613310                       A
2314     2613312                       B
2315     2614742       A
2316     2616097                       B

[2317 rows x 7 columns]

In [69]:
##EFD_data["Repeat 100?"] = ""
EFD_data.insert(2,'DFW 100?','')
EFD_data.insert(4,'DFW 105?','')
EFD_data.insert(6,'DFW 120?','')
EFD_data.insert(8,'DFW 201?','')
EFD_data.insert(10,'DFW 202?','')
EFD_data.insert(12,'DFW 204?','')
EFD_data['DFW 100?'] = REPEAT_100
EFD_data['DFW 105?'] = REPEAT_105
EFD_data['DFW 120?'] = REPEAT_120
EFD_data['DFW 201?'] = REPEAT_201
EFD_data['DFW 202?'] = REPEAT_202
EFD_data['DFW 204?'] = REPEAT_204
EFD_data

,Student ID,EGR 100,DFW 100?,EGR 105,DFW 105?,EGR 120,DFW 120?,ES 201,DFW 201?,ES 202,DFW 202?,ES 204,DFW 204?
0,1182139,,,,,,,,,A,NO,,
1,1220918,,,,,,,D,NO,F,YES,,
2,1240519,,,,,,,A,NO,A,NO,A,NO
3,1676530,,,,,,,C,NO,,,,
4,2103593,,,,,,,FDC,YES,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2612639,,,,,,,,,,,A,NO
2313,2613310,,,,,A,NO,,,,,,
2314,2613312,,,,,B,NO,,,,,,
2315,2614742,A,NO,,,,,,,,,,
2316,2616097,,,,,B,NO,,,,,,

In [70]:
EFD_data[['100-1','100-2','100-3']] = EFD_data['EGR 100'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
EFD_data[['105-1','105-2']] = EFD_data['EGR 105'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
EFD_data[['120-1','120-2','120-3']] = EFD_data['EGR 120'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
EFD_data[['201-1','201-2','201-3']] = EFD_data['ES 201'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
EFD_data[['202-1','202-2','202-3']] = EFD_data['ES 202'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
EFD_data[['204-1','204-2','204-3']] = EFD_data['ES 204'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)

EFD_data

<ipython-input-70-4cd581cdf88e>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  EFD_data[['100-1','100-2','100-3']] = EFD_data['EGR 100'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
<ipython-input-70-4cd581cdf88e>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  EFD_data[['105-1','105-2']] = EFD_data['EGR 105'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
<ipython-input-70-4cd581cdf88e>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  EFD_data[['120-1','120-2','120-3']] = EFD_data['EGR 120'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
<ipython-input-70-4cd581cdf88e>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  EFD_data[['201-1','201-2','201-3']] = EFD_data['ES 201'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
<ipython-input-70-4cd581cdf88e>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  EFD_data[['202-1','202-2','202-3']] = EFD_data['ES 202'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)
<ipython-input-70-4cd581cdf88e>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  EFD_data[['204-1','204-2','204-3']] = EFD_data['ES 204'].astype(str).apply(lambda x: pd.Series(list(x))).astype(str)

,Student ID,EGR 100,DFW 100?,EGR 105,DFW 105?,EGR 120,DFW 120?,ES 201,DFW 201?,ES 202,...,120-3,201-1,201-2,201-3,202-1,202-2,202-3,204-1,204-2,204-3
0,1182139,,,,,,,,,A,...,nan,nan,nan,nan,A,nan,nan,nan,nan,nan
1,1220918,,,,,,,D,NO,F,...,nan,D,nan,nan,F,nan,nan,nan,nan,nan
2,1240519,,,,,,,A,NO,A,...,nan,A,nan,nan,A,nan,nan,A,nan,nan
3,1676530,,,,,,,C,NO,,...,nan,C,nan,nan,nan,nan,nan,nan,nan,nan
4,2103593,,,,,,,FDC,YES,,...,nan,F,D,C,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2612639,,,,,,,,,,...,nan,nan,nan,nan,nan,nan,nan,A,nan,nan
2313,2613310,,,,,A,NO,,,,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2314,2613312,,,,,B,NO,,,,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2315,2614742,A,NO,,,,,,,,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2316,2616097,,,,,B,NO,,,,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [71]:
mylist = ['EGR 100','EGR 105','EGR 120','ES 201','ES 202','ES 204']
EFD_data=EFD_data.drop(mylist, axis =1)
EFD_data

,Student ID,DFW 100?,DFW 105?,DFW 120?,DFW 201?,DFW 202?,DFW 204?,100-1,100-2,100-3,...,120-3,201-1,201-2,201-3,202-1,202-2,202-3,204-1,204-2,204-3
0,1182139,,,,,NO,,nan,nan,nan,...,nan,nan,nan,nan,A,nan,nan,nan,nan,nan
1,1220918,,,,NO,YES,,nan,nan,nan,...,nan,D,nan,nan,F,nan,nan,nan,nan,nan
2,1240519,,,,NO,NO,NO,nan,nan,nan,...,nan,A,nan,nan,A,nan,nan,A,nan,nan
3,1676530,,,,NO,,,nan,nan,nan,...,nan,C,nan,nan,nan,nan,nan,nan,nan,nan
4,2103593,,,,YES,,,nan,nan,nan,...,nan,F,D,C,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2612639,,,,,,NO,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,A,nan,nan
2313,2613310,,,NO,,,,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2314,2613312,,,NO,,,,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2315,2614742,NO,,,,,,A,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2316,2616097,,,NO,,,,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [72]:
order = [0,7,1,8,9,10,2,11,12,3,13,14,15,4,16,17,18,5,19,20,21,6,22,23] # setting column's order
df = EFD_data[[EFD_data.columns[i] for i in order]]

In [73]:
df

,Student ID,100-1,DFW 100?,100-2,100-3,105-1,DFW 105?,105-2,120-1,DFW 120?,...,201-2,201-3,202-1,DFW 202?,202-2,202-3,204-1,DFW 204?,204-2,204-3
0,1182139,nan,,nan,nan,nan,,nan,nan,,...,nan,nan,A,NO,nan,nan,nan,,nan,nan
1,1220918,nan,,nan,nan,nan,,nan,nan,,...,nan,nan,F,YES,nan,nan,nan,,nan,nan
2,1240519,nan,,nan,nan,nan,,nan,nan,,...,nan,nan,A,NO,nan,nan,A,NO,nan,nan
3,1676530,nan,,nan,nan,nan,,nan,nan,,...,nan,nan,nan,,nan,nan,nan,,nan,nan
4,2103593,nan,,nan,nan,nan,,nan,nan,,...,D,C,nan,,nan,nan,nan,,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2612639,nan,,nan,nan,nan,,nan,nan,,...,nan,nan,nan,,nan,nan,A,NO,nan,nan
2313,2613310,nan,,nan,nan,nan,,nan,A,NO,...,nan,nan,nan,,nan,nan,nan,,nan,nan
2314,2613312,nan,,nan,nan,nan,,nan,B,NO,...,nan,nan,nan,,nan,nan,nan,,nan,nan
2315,2614742,A,NO,nan,nan,nan,,nan,nan,,...,nan,nan,nan,,nan,nan,nan,,nan,nan
2316,2616097,nan,,nan,nan,nan,,nan,B,NO,...,nan,nan,nan,,nan,nan,nan,,nan,nan

In [74]:
df = df.replace('nan', '', regex=True)
df

,Student ID,100-1,DFW 100?,100-2,100-3,105-1,DFW 105?,105-2,120-1,DFW 120?,...,201-2,201-3,202-1,DFW 202?,202-2,202-3,204-1,DFW 204?,204-2,204-3
0,1182139,,,,,,,,,,...,,,A,NO,,,,,,
1,1220918,,,,,,,,,,...,,,F,YES,,,,,,
2,1240519,,,,,,,,,,...,,,A,NO,,,A,NO,,
3,1676530,,,,,,,,,,...,,,,,,,,,,
4,2103593,,,,,,,,,,...,D,C,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2612639,,,,,,,,,,...,,,,,,,A,NO,,
2313,2613310,,,,,,,,A,NO,...,,,,,,,,,,
2314,2613312,,,,,,,,B,NO,...,,,,,,,,,,
2315,2614742,A,NO,,,,,,,,...,,,,,,,,,,
2316,2616097,,,,,,,,B,NO,...,,,,,,,,,,

In [75]:
Final = pd.concat([df, div_data], axis=1, join='inner')
Final

,Student ID,100-1,DFW 100?,100-2,100-3,105-1,DFW 105?,105-2,120-1,DFW 120?,...,202-3,204-1,DFW 204?,204-2,204-3,Age,Gender,Ethnicity,Military Status,International
0,1182139,,,,,,,,,,...,,,,,,40,Male,Asian,Civilian,N
1,1220918,,,,,,,,,,...,,,,,,36,Female,White,Civilian,N
2,1240519,,,,,,,,,,...,,A,NO,,,36,Female,White,Civilian,N
3,1676530,,,,,,,,,,...,,,,,,29,Male,White,Civilian,N
4,2103593,,,,,,,,,,...,,,,,,29,Male,Hispanic/Latino,Civilian,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2612639,,,,,,,,,,...,,A,NO,,,19,Female,Nonresident Alien (International),Civilian,I
2313,2613310,,,,,,,,A,NO,...,,,,,,19,Female,White,Civilian,N
2314,2613312,,,,,,,,B,NO,...,,,,,,20,Male,White,Civilian,N
2315,2614742,A,NO,,,,,,,,...,,,,,,21,Female,Nonresident Alien (International),Civilian,I
2316,2616097,,,,,,,,B,NO,...,,,,,,18,Male,White,Civilian,N

In [ ]:
##Final.to_csv('/content/gdrive/MyDrive/EGR_Research_Project_1/EFD_Student_data.csv')